@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

//variables


$font: 'Poppins', sans-serif !important;
$secondFont: 'Noto Sans', sans-serif !important;
$thirdFont: 'VT323', sans-serif !important;

[data-aos^=fade][data-aos^=fade] {
    opacity: 1 !important;
}

.MetaMaskHomeButton {
    font-family: $thirdFont;
    font-size: 3rem;
    padding: 1rem;
    transition: 0.3s ease all;
}

a {
    color: rgb(15, 224, 15);
    -webkit-text-stroke-color: black;
}


.testingthespace {
    margin-top: 0px;
}


.catGirl {
    margin: 0 auto;
}

    .title {
        width: 90%;
        margin: auto;
    }

.mainContent {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 5%;
    width: 36rem;
    height: 27.5rem;
    
}

.mainCard {
    display: flex;
  justify-content: center;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 5%;
  width: 36rem;
  height: 27.5rem;
}

.card {
    background-color: transparent;
    text-align:center;
    margin-left: 3.5%;
    margin-top: -8%;
}
//title section
.title {
    
    margin-top: -90px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 75vh;
}

.terminal {
    display: flex;
    justify-content: center;
    height: 5px;
    width: 400px;
    
    
}

.h1Title {
animation: color-change 5s infinite;
font-size: 10px;
}


@keyframes color-change {
  14% { color: rgb(37, 150, 150); }
  28% { color: rgb(224, 18, 196); }
  42% { color: rgb(190, 0, 0); }
  56% { color: rgb(0, 255, 0); }
  70% { color: rgb(0, 0, 255); }
  84% { color: indigo; }
  100% { color: rgba(161, 35, 161, 0.521); }
  
}

.lastphoto {
    margin-top: 10px;
}

.title h1 {
   
    font-size: 4.8rem;
    letter-spacing: 0rem;
}



.title p {
    font-size: 1.5rem;
    font-family: $thirdFont;
    letter-spacing: 0.1rem;
    color:rgb(15, 224, 15);
}

.subtitle {
    text-align: center;
    display: flex;
    align-items: center;
    width: 40%;
    margin-top: 30px;
    display: block;
    justify-content: center;
    box-shadow: none;
    background-color: transparent
}
.cyberPunk {
   
    object-fit: cover;
    width:230px;
    height:230px;
  
}

.menuBtn {
    
    display: flex;
    margin-bottom: -5%;
    justify-content: space-around;
    margin: 5px;
    margin-top: 2.5rem;

  
}
.homeCard {
    margin: 0 auto;
    margin-left: 32.5%;
    width: 35%;
    height: 35%;
    // padding-bottom: -50%;
    margin-top: 3rem;
    padding: 1rem;
}

.centered {
    display: block;
    margin: 0 auto;
}

.pubKey {
    animation: color-change 5s infinite;
    margin: 0 auto;
    font-size: 4.5rem;
    text-align: center;
}

.headline {

    margin-top: 7%;
    
}

.catBowl:hover {
    transform: scale(1.1);
    transition: .5s;    
}
@keyframes color-change {
    14% { color: rgb(37, 150, 150); }
    28% { color: rgb(224, 18, 196); }
    42% { color: rgb(190, 0, 0); }
    56% { color: rgba(0, 255, 0, 0.39); }
    70% { color: rgba(0, 0, 255, 0.589); }
    84% { color: indigo; }
    100% { color: rgba(238, 130, 238, 0.521); }
    
  }
//hover effects


//responsive for title + subtitle

// @media screen and (max-width: 800px) {
//     .title h1 {
//         font-size: 5rem;
//         letter-spacing: 0.6rem;
//     }
//     .title p {
//         font-size: 0.9rem;
//         letter-spacing: 0.1rem;
//     }
// }

// @media screen and (max-width: 450px) {
//     .title h1 {
//         font-size: 3.2rem;
//         letter-spacing: 0.45rem;
//     }
//     .title p {
//         font-size: 0.6rem;
//         letter-spacing: 0.1rem;
//     }
// }

//responsive for phones

// @media screen and (max-height: 700px) {
//     .testingthespace {
//         margin-top: 0px;
//     }
// }
// @media screen and (max-height: 568px) {
//     .testingthespace {
//         margin-top: 0px;
//     }
// }

//here start the styleing for the second content section

//color of the second section on homepage


//centering the content

// .future {
//     position: absolute;
//     left: -1000%;
//     right: -1000%;
//     top: -500%;
//     bottom: -1000%;
//     margin: auto;
   
  
// }


//     .centered {
//         position: fixed;
//         top: 50%;
//         left: 50%;
//         margin-top: -50px;
//         margin-left: -100px;
//       }

// .starsWrapper {
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     padding: 0.5rem;
//     border-radius: 3rem;
//     max-width: 1300px;
//     margin: auto;
//     text-align: center;
//     font-family: $thirdFont;
//     flex-direction: column;
//     align-items: center;
//     font-size: 7rem;
//     letter-spacing: 0.45rem;
// }


// .wrapper h3 {
//     width: 250px;
//     height: 250px;
//     overflow: hidden;
//     margin: 10px;
//     position: relative;
// }

// .tradeButtonParent {
//     text-align: center;
//     margin: 3px;
//     display: flex;
//     justify-content: space-between;
//     align-content: space-around;
//     margin: 1rem;
//     margin-top: 20%;
// }
