@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


//variables
$white: #4166DE;
$blue: #F9F9B7;
$second_blue: #F9F9B7;
$grey: #363636;
$light: #4166DE;
$font: "poppins", sans-serif;
$secondFont: "poppins", sans-serif;

// GENERAL

* {
  margin: 0;
  padding: 0;
}

.cardWrapper {
  text-align: center;
  background-color: transparent;
  margin: 0 auto;
  padding: 2.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  height: 83rem;
}

.sectionWrapperTest {
  background-color: transparent;
  display: flex; 
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 70rem;
}

.stakeHeader {
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  background: -webkit-linear-gradient(rgb(255, 45, 192), rgb(167, 0, 139));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing : none;
}

// CARD ONE

.food {
  width: 38%;
  height: 90%;
  float: left;
  margin-top: 3%;
  margin-left: -3%;
  margin-bottom: 10%;
}

.centerText {
  float: left;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.stakeText {
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-right: 3%;
}

// CARD TWO

.food2 {
  width: 42%;
  height: 75%;
  margin-top: 3%;
  margin-left: 2.5%;
  margin-bottom: 10%;
}

.centerText2 {
  float: left;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.stakeText2 {
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-left: -29%;
}


// CARD THREE

.food3 {
  width: 45%;
  height: 80%;
  margin-top: 5%;
  margin-right: 1%;
  margin-bottom: 8%; 
} 

.centerText3 {
  text-align: center;
  margin-right: 11%;
}

.stakeText3 {
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
}

.stakeFur3 .input {
  width: 7rem;
  height: 2rem;
  margin-right: 9%;
  padding-top: 4%;
}

.stakeFur3 ::placeholder {
  font-size: 0.9rem;
  padding-left: 11%;
}

// CARD FOUR

.food4 {
  width: 35%;
  height: 77%;
  float: left;
  margin-top: 3%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.centerText4 {
  text-align: center;
  margin-right: 9%;
  margin-bottom: 13.5rem;
  height: 6rem;
}

.stakeText4 {
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-right: 3%;
  margin-bottom: 17%;
}

.furProfit {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.stakeFur4 .input {
  width: 8rem;
  height: 2rem;
  padding-top: 4%;
  margin-top: -5%;
}

.stakeFur4 ::placeholder {
  font-size: .9rem;
  padding-left: 5%;
}

.centerBtns {
  padding-top: 0.5%;
  width: 20%;
  padding-right: 1%;
}

// Idk what this is

@media screen and (max-width: 708) {
  .sectionWrapperTest {
    align-content: center;
    align-items: center;
  }
}

.infopannel {
  width: 20%;
  padding: 1rem;
 
}
h2 {
  animation: color-change 5s infinite;
}

.staking {
 background-color: transparent;
 width: 20%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -10%;

}

.stakingCard {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.bottom {
  
 
}

.infopannel input {
  width: 60%;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  color: #4D3A40;
  padding: 6px 12px;
  font-family: 5rem;
  text-align: center;
  font-size: 0.9rem;
}
.infopannel input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: $font;
  color: #4D3A40;
  letter-spacing: 0.05rem;
  text-align: center;
  font-size: 0.9rem;
}

.infopannel button {
  width: 60%;
  border-radius: 1000px;
  margin-top: 12px;
  padding: 0.5rem;
  background: repeating-linear-gradient( 135deg,#0cc6b8, #0cc6b8 10px, #01a89e 10px, #01a89e 20px);
  outline: none;
  border: #01a89e 1px solid;
  font-family: $font;
  color: #363636;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  transition: 1s;

  &:disabled {
    color: #271212;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.stakeFur {
  background-color: transparent;
  animation: color-change 5s infinite;
  margin: 2%;
}
.withdrawSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.profitTitle {
  margin-bottom: 30px;
}


.infopannel button:hover {
  cursor: pointer;
}

.h1Title {
  margin: 3%;
  text-align: center;
  animation: color-change 5s infinite;
  font-size: 1.2rem;
  
  
}

.input {
  text-shadow: white;
  color: white;
  text-align: center;
  border: .1px solid rgb(255, 255, 255);
  background-color: transparent;
 
}

 
.h5Title {
  
  font-size: 1.5rem;
  animation: color-change 5s infinite;
 
}

.stakingWrapper {
  display: block;
  margin: 0 auto;
  width: 0%;
}


.farmBtn {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/BUTTON1.png);
  background-color: transparent;
  width: 5.1rem;
  height: 1.6rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
    outline: black;
}

.farmBtn1 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/UBUTTON3.png);
  background-color: transparent;
  width: 5rem;
  height: 1.7rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 230, 0);
  font-size: .75rem;
  opacity: 1; /* Firefox */
  font-family: 'Press Start 2P', cursive;
  outline: transparent;
  border: 0;
}

::placeholder[placeHolder^="WITHDRAW"] { 
  color: rgb(64, 225, 95);
}

.farmBtn2 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/UBUTTON2.png);
  background-color: transparent;
  width: 6rem;
  height: 1.7rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: black;
}

.farmBtn3 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/UBUTTON1.png);
  background-color: transparent;
  width: 6.8rem;
  height: 1.7rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: black;
}


.farmBtn4 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/BUTTON2.png);
  background-color: transparent;
  width: 5.1rem;
  height: 1.6rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
    outline: black;
}

.farmBtn7 {
  
    margin: 3%;
    color: #000000;
    cursor: pointer;
    background-image: url(../images/BUTTON2.png);
    background-color: transparent;
    width: 5.3rem;
    height: 1.5rem;
    box-shadow: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: black;
}

.centerBtns {
  display: flex;
  justify-content: center;
  margin-top: -3.2rem;
  margin-left: -1rem;
  position: absolute;
}

@keyframes color-change {
  14% { color: rgb(37, 150, 150); }
  28% { color: rgb(224, 18, 196); }
  42% { color: rgb(190, 0, 0); }
  56% { color: rgb(0, 255, 0); }
  70% { color: rgb(0, 0, 255); }
  84% { color: indigo; }
  100% { color: rgba(161, 35, 161, 0.521); }
  14% { color: rgb(37, 150, 150); }
  28% { color: rgb(224, 18, 196); }
  42% { color: rgb(190, 0, 0); }
  56% { color: rgb(0, 255, 0); }
  70% { color: rgb(0, 0, 255); }
  84% { color: indigo; }
  100% { color: rgba(161, 35, 161, 0.521); }
  
}

.stakeFur1 { 
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N1.png);
  background-size: contain;
  padding: 1rem;
  height: 18rem;
  background-repeat:no-repeat;
  margin-bottom: -2%;
  
}


.stakeFur2 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N2.png);
  background-size: contain;
  height: 18rem;
  background-repeat:no-repeat;
  margin-bottom: 0%;
}

.stakeFur3 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N3.png);
  background-size: contain;
  height: 20rem;
  background-repeat:no-repeat;
  margin-bottom: 3%;
 
}

.stakeFur4 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N4.png);
  background-size: contain;
  height: 20rem;
  background-repeat:no-repeat;

}

.stakeNumber {
  margin-left: 5%;
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
}

.stakeNumber2 {
  
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  margin-right: 20%;
}

.stakeNumber3 {
  
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 7%;
  margin-top: 15%;
  margin-bottom: 8%;
}


.stakeNumber4 {
  
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem;
  margin-right: 7%;
 
  
}

.farmBtn1 {
  
}
//responsive

@media screen and (max-width: 1024px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 135rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 40.3rem;
  }

  .stakeHeader {
    font-size: 3rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 52.5rem;
    min-height: 28rem;
    margin-bottom: 0.1%;
  }

  .stakeText {
    font-size: 2rem;
  }

  .stakeNumber {
    font-size: 7rem;
    margin-top: 9%;
  }

  .food {
    height: 25rem;
    margin-top: 9.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 52.5rem;
    min-height: 28rem;
    margin: 1%;
  }

  .stakeText2 {
    font-size: 2rem;
    margin-right: 7%;
  }

  .stakeNumber2 {
    font-size: 7rem;
    margin-top: 13%;
    margin-right: 32%;
  }

  .food2 {
    height: 24rem;
    margin-top: 9%;
    margin-right: -8%;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 8%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 52.5rem;
    min-height: 31rem;
    width: 100%;
    margin: 1%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 2rem;
    margin-left: -16%;
  }

  .stakeNumber3 {
    font-size: 7rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 26rem;
    margin-top: 9%;
    // margin-right: 2%;
  }

  .centerText3 {
    height: 15rem;
    margin-right: 6%;
  }

  .stakeFur3 .input {
    width: 11rem;
    height: 3rem;
    margin-right: 9%;
    padding-top: 4%;
  }

  .stakeFur3 ::placeholder {
    font-size: 1.5rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 7%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn7 {
    height: 3.2rem;
    width: 9rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 52.5rem;
    height: 30rem;
    margin: 1%;
  }

  .furProfit {
    width: 12rem;
    font-size: 2rem;
  }

  .stakeText4 {
    font-size: 2rem;
  }

  .stakeNumber4 {
    font-size: 7rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 23rem;
    margin-top: 8%;
    margin-left: 1%;
    // margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    // margin-top: 13rem;
    // margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 2rem;
  }

  .stakeFur4 .input {
    width: 14rem;
    height: 3rem;
    padding-top: 4%;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 1.5rem;
  }

  .centerBtns {
    width: 60%;
    margin-left: -13%;
    margin-top: -9%;
  }

  .farmBtn1 {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn2 {
    height: 3.2rem;
    width: 11rem;
  }

  .farmBtn3 {
    height: 3.2rem;
    width: 13rem;
  }
}


@media screen and (max-width: 920px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 120rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 103.5rem;
  }

  .stakeHeader {
    font-size: 3.1rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 46.75rem;
    min-height: 24.5rem;
    margin-bottom: 0.1%;
  }

  .stakeText {
    font-size: 2rem;
  }

  .stakeNumber {
    font-size: 8rem;
    margin-top: 9%;
  }

  .food {
    height: 22rem;
    margin-top: 9.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 46.75rem;
    min-height: 24.5rem;
    margin-bottom: 0.1%;
  }

  .stakeText2 {
    font-size: 2rem;
    margin-right: 7%;
  }

  .stakeNumber2 {
    font-size: 8rem;
    margin-top: 13%;
    margin-right: 32%;
  }

  .food2 {
    height: 21rem;
    margin-top: 9%;
    margin-right: -8%;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 10%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 46.75rem;
    min-height: 27.4rem;
    margin-bottom: 0.1%;
    width: 100%;
    margin: 1%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 2rem;
    margin-left: -16%;
  }

  .stakeNumber3 {
    font-size: 7rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 24rem;
    margin-top: 9%;
    margin-left: 1%;
    // margin-right: 2%;
  }

  .centerText3 {
    height: 15rem;
    margin-right: 6%;
  }

  .stakeFur3 .input {
    width: 11rem;
    height: 3rem;
    margin-right: 9%;
    padding-top: 4%;
  }

  .stakeFur3 ::placeholder {
    font-size: 1.5rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 7%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn7 {
    height: 3.2rem;
    width: 9rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 46.75rem;
    min-height: 27.4rem;
    margin-bottom: 0.1%;
  }

  .furProfit {
    width: 12rem;
    font-size: 2rem;
  }

  .stakeText4 {
    font-size: 2rem;
  }

  .stakeNumber4 {
    font-size: 7rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 20rem;
    width: 20rem;
    margin-top: 8%;
    margin-left: 1%;
    // margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    // margin-top: 13rem;
    // margin-right: 3%;
    margin-left: 3%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 2rem;
  }

  .stakeFur4 .input {
    width: 14rem;
    height: 3rem;
    padding-top: 4%;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 1.5rem;
  }

  .centerBtns {
    width: 60%;
    margin-left: -9%;
    margin-top: -12%;
  }

  .farmBtn1 {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn2 {
    height: 3.2rem;
    width: 11rem;
  }

  .farmBtn3 {
    height: 3.2rem;
    width: 13rem;
  }
}



@media screen and (max-width: 768px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 100rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 85.5rem;
  }

  .stakeHeader {
    font-size: 2.5rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 38.2rem;
    min-height: 20rem;
    margin-bottom: 0.1%;
  }

  .stakeText {
    font-size: 1.8rem;
  }

  .stakeNumber {
    font-size: 7rem;
    margin-top: 9%;
  }

  .food {
    height: 18rem;
    margin-top: 9.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 38.2rem;
    min-height: 20rem;
    margin: 1%;
  }

  .stakeText2 {
    font-size: 1.7rem;
    margin-right: 1%;
  }

  .stakeNumber2 {
    font-size: 7rem;
    margin-top: 13%;
    margin-right: 32%;
  }

  .food2 {
    height: 18rem;
    margin-top: 10%;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 8%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 38.2rem;
    min-height: 22.5rem;
    width: 100%;
    margin: 1%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 1.7rem;
    margin-right: -20%;
  }

  .stakeNumber3 {
    font-size: 7rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .food3 {
    height: 19rem;
    margin-top: 9%;
    margin-left: 1%;
    // margin-right: 2%;
  }

  .centerText3 {
    height: 15rem;
  }

  .stakeFur3 .input {
    width: 11rem;
    height: 3rem;
    margin-right: 9%;
    padding-top: 4%;
  }

  .stakeFur3 ::placeholder {
    font-size: 1.5rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn7 {
    height: 3.2rem;
    width: 9rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 38.2rem;
    min-height: 21.5rem;
    margin: 1%;
  }

  .furProfit {
    width: 12rem;
    font-size: 1.5rem;
  }

  .stakeFur4 .stakeText3 {
    font-size: 1.5rem;
  }

  .stakeNumber4 {
    font-size: 5rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 17rem;
    margin-top: 8%;
    // margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 7%;
    // margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .input {
    width: 14rem;
    height: 3rem;
    padding-top: 4%;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 1.5rem;
  }

  .centerBtns {
    width: 60%;
    margin-left: -13%;
    margin-top: -10%;
  }

  .farmBtn1 {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn2 {
    height: 3.2rem;
    width: 15rem;
  }

  .farmBtn3 {
    height: 3.2rem;
    width: 19rem;
  }
}


@media screen and (max-width: 745px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 100rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 85.5rem;
  }

  .stakeHeader {
    font-size: 1rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 38.2rem;
    min-height: 20rem;
    margin-bottom: 0.1%;
  }

  .stakeText {
    font-size: 1.8rem;
  }

  .stakeNumber {
    font-size: 7rem;
    margin-top: 9%;
  }

  .food {
    height: 18rem;
    margin-top: 9.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 38.2rem;
    min-height: 20rem;
    margin: 1%;
  }

  .stakeText2 {
    font-size: 1.7rem;
    margin-right: 1%;
  }

  .stakeNumber2 {
    font-size: 7rem;
    margin-top: 13%;
    margin-right: 32%;
  }

  .food2 {
    height: 18rem;
    margin-top: 10%;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 8%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 38.2rem;
    min-height: 22.5rem;
    width: 100%;
    margin: 1%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 1.7rem;
    margin-right: -20%;
  }

  .stakeNumber3 {
    font-size: 7rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .food3 {
    height: 19rem;
    margin-top: 9%;
    margin-left: 1%;
    // margin-right: 2%;
  }

  .centerText3 {
    height: 15rem;
  }

  .stakeFur3 .input {
    width: 11rem;
    height: 3rem;
    margin-right: 9%;
    padding-top: 4%;
  }

  .stakeFur3 ::placeholder {
    font-size: 1.5rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn7 {
    height: 3.2rem;
    width: 9rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 38.2rem;
    min-height: 21.5rem;
    margin: 1%;
  }

  .furProfit {
    width: 12rem;
    font-size: 1.5rem;
  }

  .stakeFur4 .stakeText3 {
    font-size: 1.5rem;
  }

  .stakeNumber4 {
    font-size: 5rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 17rem;
    margin-top: 8%;
    // margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 7%;
    // margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .input {
    width: 14rem;
    height: 3rem;
    padding-top: 4%;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 1.5rem;
  }

  .centerBtns {
    width: 60%;
    margin-left: -13%;
    margin-top: -10%;
  }

  .farmBtn1 {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn2 {
    height: 3.2rem;
    width: 15rem;
  }

  .farmBtn3 {
    height: 3.2rem;
    width: 19rem;
  }
}


@media screen and (max-width: 540px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 100rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 85.5rem;
  }

  .stakeHeader {
    font-size: 2rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 38.2rem;
    min-height: 20rem;
    margin-bottom: 0.1%;
  }

  .stakeText {
    font-size: 1.8rem;
  }

  .stakeNumber {
    font-size: 7rem;
    margin-top: 9%;
  }

  .food {
    height: 18rem;
    margin-top: 9.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 38.2rem;
    min-height: 20rem;
    margin: 1%;
  }

  .stakeText2 {
    font-size: 1.7rem;
    margin-right: 1%;
  }

  .stakeNumber2 {
    font-size: 7rem;
    margin-top: 13%;
    margin-right: 32%;
  }

  .food2 {
    height: 18rem;
    margin-top: 10%;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 8%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 38.2rem;
    min-height: 22.5rem;
    width: 100%;
    margin: 1%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 1.7rem;
    margin-right: -20%;
  }

  .stakeNumber3 {
    font-size: 7rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .food3 {
    height: 19rem;
    margin-top: 9%;
    margin-left: 1%;
    // margin-right: 2%;
  }

  .centerText3 {
    height: 15rem;
  }

  .stakeFur3 .input {
    width: 11rem;
    height: 3rem;
    margin-right: 9%;
    padding-top: 4%;
  }

  .stakeFur3 ::placeholder {
    font-size: 1.5rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn7 {
    height: 3.2rem;
    width: 9rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 38.2rem;
    min-height: 21.5rem;
    margin: 1%;
  }

  .furProfit {
    width: 12rem;
    font-size: 1.5rem;
  }

  .stakeFur4 .stakeText3 {
    font-size: 1.5rem;
  }

  .stakeNumber4 {
    font-size: 5rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 17rem;
    margin-top: 8%;
    // margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 7%;
    // margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .input {
    width: 14rem;
    height: 3rem;
    padding-top: 4%;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 1.5rem;
  }

  .centerBtns {
    width: 60%;
    margin-left: -13%;
    margin-top: -10%;
  }

  .farmBtn1 {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn2 {
    height: 3.2rem;
    width: 15rem;
  }

  .farmBtn3 {
    height: 3.2rem;
    width: 19rem;
  }
}


@media screen and (max-width: 414px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 50rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 40.3rem;
  }

  .stakeHeader {
    font-size: 3rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 6rem;
    min-height: 1rem;
    margin-bottom: 0.05%;
  }

  .stakeText {
    font-size: 0.8rem;
  }

  .stakeNumber {
    font-size: 3.5rem;
    margin-top: 9%;
  }

  .food {
    height: 8.5rem;
    margin-top: 7.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 18.3rem;
    height: 10rem;
  }

  .stakeText2 {
    font-size: 0.8rem;
  }

  .stakeNumber2 {
    font-size: 3.5rem;
    margin-top: 13%;
  }

  .food2 {
    height: 8.5rem;
    margin-top: 7.5%;
    margin-right: -8%;
    width: 7.2rem;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 8%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 18.3rem;
    height: 10rem;
  }

  .stakeFur3 .stakeText3 {
    font-size: 0.9rem;
    margin-left: -16%;
  }

  .stakeNumber3 {
    font-size: 3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 9rem;
    margin-top: 10.5%;
    margin-right: -1%;
  }

  .centerText3 {
    height: 8rem;
    margin-right: -4.5%;
  }

  .stakeFur3 .input {
    width: 6rem;
    margin-right: 9%;
  }

  .stakeFur3 ::placeholder {
    font-size: 0.6rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 1.3rem;
    width: 4rem;
  }

  .farmBtn7 {
    height: 1.3rem;
    width: 4rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 18.3rem;
    height: 10rem;
  }

  .furProfit {
    width: 12rem;
    font-size: 0.6rem;
  }

  .stakeText4 {
    font-size: 0.7rem;
  }

  .stakeNumber4 {
    font-size: 2.5rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 8.5rem;
    width: 6.2rem;
    margin-top: 9%;
    margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 13rem;
    margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 0.5rem;
  }

  .stakeFur4 .input {
    width: 4.5rem;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 0.5rem;
  }

  .farmBtn1 {
    height: 1.2rem;
    width: 4rem;
    margin-left: 9%;
  }

  .farmBtn2 {
    height: 1.2rem;
    width: 4.5rem;
  }

  .farmBtn3 {
    height: 1.2rem;
    width: 5.5rem;
    margin-right: 13%;
  }
}


@media screen and (max-width: 745px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 135rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 40.3rem;
  }

  .stakeHeader {
    font-size: 3rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 52.5rem;
    min-height: 28rem;
    margin-bottom: 0.1%;
  }

  .stakeText {
    font-size: 2rem;
  }

  .stakeNumber {
    font-size: 7rem;
    margin-top: 9%;
  }

  .food {
    height: 25rem;
    margin-top: 9.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 52.5rem;
    min-height: 28rem;
    margin: 1%;
  }

  .stakeText2 {
    font-size: 2rem;
    margin-right: 7%;
  }

  .stakeNumber2 {
    font-size: 7rem;
    margin-top: 13%;
    margin-right: 32%;
  }

  .food2 {
    height: 24rem;
    margin-top: 9%;
    margin-right: -8%;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 8%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 52.5rem;
    min-height: 31rem;
    width: 100%;
    margin: 1%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 2rem;
    margin-left: -16%;
  }

  .stakeNumber3 {
    font-size: 7rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 26rem;
    margin-top: 9%;
    // margin-right: 2%;
  }

  .centerText3 {
    height: 15rem;
    margin-right: 6%;
  }

  .stakeFur3 .input {
    width: 11rem;
    height: 3rem;
    margin-right: 9%;
    padding-top: 4%;
  }

  .stakeFur3 ::placeholder {
    font-size: 1.5rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 7%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn7 {
    height: 3.2rem;
    width: 9rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 52.5rem;
    height: 30rem;
    margin: 1%;
  }

  .furProfit {
    width: 12rem;
    font-size: 2rem;
  }

  .stakeText4 {
    font-size: 2rem;
  }

  .stakeNumber4 {
    font-size: 7rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 25rem;
    margin-top: 8%;
    // margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    // margin-top: 13rem;
    // margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 2rem;
  }

  .stakeFur4 .input {
    width: 14rem;
    height: 3rem;
    padding-top: 4%;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 1.5rem;
  }

  .centerBtns {
    margin-left: -9%;
    margin-top: -8.5%;
  }

  .farmBtn1 {
    height: 3.2rem;
    width: 9rem;
  }

  .farmBtn2 {
    height: 3.2rem;
    width: 11rem;
  }

  .farmBtn3 {
    height: 3.2rem;
    width: 13rem;
  }
}


@media screen and (max-width: 411px) {

  // GENERAL

  .cardWrapper {
      width: 90%;
      margin-top: 5%;
      height: 52rem;
  }

  .stakeHeader {
    font-size: 1.2rem;
    margin-bottom: 4%;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 37.8rem;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 18rem;
    min-height: 10rem;
  }

  .stakeText {
    font-size: 0.8rem;
  }

  .stakeNumber {
    font-size: 3.5rem;
    margin-top: 9%;
  }

  .food {
    height: 8.5rem;
    margin-bottom: 13%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 18rem;
    min-height: 10rem;
  }

  .stakeText2 {
    font-size: 0.8rem;
    margin-right: 5%;
  }

  .stakeNumber2 {
    font-size: 3.5rem;
    margin-top: 13%;
  }

  .food2 {
    height: 8rem;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 18rem;
    min-height: 11rem;
  }

  .stakeFur3 .stakeText3 {
    font-size: 0.8rem;
    margin-right: 10%;
  }

  .stakeNumber3 {
    font-size: 3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 8.5rem;
    margin-top: 7%;
  }

  .centerText3 {
    height: 9.3rem;
    margin-right: -1%;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .stakeFur3 .input {
    width: 4rem;
    height: 1.2rem;
    margin-right: 9%;
    padding-bottom: 3%;
  }

  .stakeFur3 ::placeholder {
    font-size: 0.6rem;
  }

  .farmBtn {
    height: 1.3rem;
    width: 4rem;
  }

  .farmBtn7 {
    height: 1.3rem;
    width: 4rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 18rem;
    min-height: 10rem;
  }

  .furProfit {
    width: 10rem;
    font-size: 0.5rem;
  }

  .stakeText4 {
    font-size: 0.7rem;
  }

  .stakeNumber4 {
    font-size: 2.5rem;
    margin-top: 6%;
    margin-bottom: -9%;
  }

  .food4 {
    height: 7.5rem;
    margin-top: 8%;
    margin-right: -7%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 13rem;
    margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 0.5rem;
  }

  .stakeFur4 .input {
    width: 5rem;
    height: 1.2rem;
    margin-top: 10%;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }

  .stakeFur4 ::placeholder {
    font-size: 0.5rem;
  }

  .farmBtn1 {
    height: 1.2rem;
    width: 2.3rem;
    margin-left: 6%;
  }

  .farmBtn2 {
    height: 1.2rem;
    width: 4rem;
  }

  .farmBtn3 {
    height: 1.2rem;
    width: 5rem;
    margin-right: 9%;
  }

  .centerBtns {
    width: 50%;
  }

}


@media screen and (max-width: 375px) {

  // GENERAL

  .cardWrapper {
      width: 90%;
      margin-top: 5%;
      height: 50rem;
  }

  .stakeHeader {
    font-size: 1.3rem;
    margin-bottom: 4%;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 37.8rem;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 16rem;
    min-height: 10rem;
  }

  .stakeText {
    font-size: 0.7rem;
  }

  .stakeNumber {
    font-size: 3.5rem;
    margin-top: 9%;
  }

  .food {
    height: 7.5rem;
    margin-bottom: 17%;
  }

  .centerText {
    padding-bottom: 10%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 16rem;
    min-height: 10rem;
  }

  .stakeText2 {
    font-size: 0.65rem;
    margin-right: 5%;
  }

  .stakeNumber2 {
    font-size: 3.5rem;
    margin-top: 13%;
  }

  .food2 {
    height: 7.5rem;
    padding-bottom: 5%;
  }

  .centerText2 {
    padding-bottom: 15%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 16rem;
    min-height: 10rem;
  }

  .stakeFur3 .stakeText3 {
    font-size: 0.8rem;
    margin-right: 10%;
  }

  .stakeNumber3 {
    font-size: 3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 7.5rem;
    width: 7rem;
    margin-top: 7%;
  }

  .centerText3 {
    height: 9.3rem;
    margin-right: -4.5%;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .stakeFur3 .input {
    width: 4rem;
    height: 1.2rem;
    margin-right: 9%;
    padding-bottom: 3%;
  }

  .stakeFur3 ::placeholder {
    font-size: 0.6rem;
  }

  .farmBtn {
    height: 1.3rem;
    width: 4rem;
  }

  .farmBtn7 {
    height: 1.3rem;
    width: 4rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 16rem;
    min-height: 9rem;
  }

  .furProfit {
    width: 10rem;
    font-size: 0.5rem;
  }

  .stakeText4 {
    font-size: 0.7rem;
  }

  .stakeNumber4 {
    font-size: 2.5rem;
    margin-top: 6%;
    margin-bottom: -9%;
  }

  .food4 {
    height: 7.5rem;
    margin-top: 8%;
    margin-right: -13%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 13rem;
    margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 0.5rem;
  }

  .stakeFur4 .input {
    width: 5rem;
    height: 1.2rem;
    margin-top: 10%;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }

  .stakeFur4 ::placeholder {
    font-size: 0.5rem;
  }

  .farmBtn1 {
    height: 1.2rem;
    width: 2rem;
    margin-left: 6%;
  }

  .farmBtn2 {
    height: 1.2rem;
    width: 4rem;
  }

  .farmBtn3 {
    height: 1.2rem;
    width: 5rem;
    margin-right: 9%;
  }

  .centerBtns {
    margin-left: -4%;
  }

}


@media screen and (max-width: 360px) {
  
   // GENERAL

  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 43.5rem;
  }

  .stakeHeader {
    font-size: 1rem;
    margin-bottom: 4%;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 34.5rem;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 15.3rem;
    height: 10rem;
    margin-bottom: -11%;
  }

  .stakeText {
    font-size: 0.6rem;
  }

  .stakeNumber {
    font-size: 3.2rem;
    margin-top: 9%;
  }

  .food {
    height: 7.5rem;
    width: 6rem;
    margin-bottom: 21%;
  }

  .centerText {
    padding-bottom: 10%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 15.3rem;
    height: 10rem;
    margin-bottom: -11%;
  }

  .stakeText2 {
    font-size: 0.6rem;
  }

  .stakeNumber2 {
    font-size: 3.2rem;
    margin-top: 13%;
  }

  .food2 {
    height: 7.8rem;
    margin-bottom: 15%;
    margin-right: -10%;
  }

  .centerText2 {
    padding-bottom: 15%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 15.3rem;
    height: 10rem;
    margin-bottom: -4%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 0.6rem;
    margin-right: -5%;
  }

  .stakeNumber3 {
    font-size: 3.2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 7.5rem;
    margin-top: 7%;
  }

  .centerText3 {
    height: 9.3rem;
    margin-right: -4.5%;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .stakeFur3 .input {
    width: 6rem;
    margin-right: 9%;
  }

  .farmBtn {
    height: 1.3rem;
    width: 4rem;
  }

  .farmBtn7 {
    height: 1.3rem;
    width: 4rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 15.3rem;
    height: 9rem;
  }

  .furProfit {
    width: 10rem;
    font-size: 0.5rem;
  }

  .stakeText4 {
    font-size: 0.7rem;
  }

  .stakeNumber4 {
    font-size: 2.2rem;
    margin-top: 6%;
    margin-bottom: -10%;
  }

  .food4 {
    height: 7.5rem;
    width: 5.1rem;
    margin-top: 8%;
    margin-right: -13%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 13rem;
    margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 0.5rem;
  }

  .stakeFur4 .input {
    width: 5rem;
    margin-bottom: 1%;
  }

  .stakeFur4 ::placeholder {
    font-size: 0.5rem;
  }

  .farmBtn1 {
    height: 1.1rem;
    width: 3rem;
    margin-left: 6%;
  }

  .farmBtn2 {
    height: 1.1rem;
    width: 4.5rem;
  }

  .farmBtn3 {
    height: 1.1rem;
    width: 5.5rem;
    margin-right: 9%;
  }

  .centerBtns {
    width: 50%;
  }

}


@media screen and (max-width: 320px) {
  
  // GENERAL

 .cardWrapper {
   width: 90%;
   margin-top: 5%;
   height: 37rem;
 }

 .stakeHeader {
   font-size: 0.86rem;
   margin-bottom: 4%;
 }

 .sectionWrapperTest {
   width: 100%;
   height: 29.5rem;
 }

 // CARD ONE

 .stakeFur1 {
   display: flex;
   background-size: 13rem;
   min-height: 10rem;
   margin-bottom: -23%;
 }

 .stakeText {
   font-size: 0.55rem;
 }

 .stakeNumber {
   font-size: 2.5rem;
   margin-top: 9%;
 }

 .food {
   height: 5.5rem;
   width: 4.5rem;
   margin-bottom: 35%;

 }

 .centerText {
   padding-bottom: 28%;
 }

 // CARD TWO

 .stakeFur2 {
   display: flex;
   background-size: 13rem;
   min-height: 10rem;
   margin-bottom: -23%;
 }

 .stakeText2 {
   font-size: 0.55rem;
 }

 .stakeNumber2 {
   font-size: 2.5rem;
   margin-top: 10%;
 }

 .food2 {
   height: 5.5rem;
   width: 5rem;
   margin-bottom: 27%;
   margin-right: -10%;
 }

 .centerText2 {
   padding-bottom: 25%;
 }

 // CARD THREE

 .stakeFur3 {
   display: flex;
   background-size: 13rem;
   min-height: 10rem;
   margin-bottom: -16%;
 }

 .stakeFur3 .stakeText3 {
   font-size: 0.5rem;
   margin-right: -5%;
 }

 .stakeNumber3 {
   font-size: 2.5rem;
   margin-top: 5%;
   margin-bottom: 1%;
   margin-right: 10%;
 }

 .food3 {
   height: 5.8rem;
   width: 4.9rem;
   margin-bottom: 23%;
 }

 .centerText3 {
   height: 9rem;
   margin-right: -4.5%;
 }

 .stakeFur3 .stakingCard {
   margin-top: 1%;
   margin-left: -2%;
 }

 .stakeFur3 .input {
   width: 3.5rem;
   margin-right: 9%;
 }

 .stakeFur3 ::placeholder {
   font-size: 0.5rem;
 }

 .farmBtn {
   height: 1.1rem;
   width: 3.8rem;
   margin-left: 6%;
 }

 .farmBtn7 {
   height: 1.1rem;
   width: 3.8rem;
 }

 // CARD FOUR

 .stakeFur4 {
   display: flex;
   background-size: 13rem;
   min-height: 9rem;
 }

 .furProfit {
   width: 10rem;
   font-size: 0.5rem;
 }

 .stakeText4 {
   font-size: 0.5rem;
 }

 .stakeNumber4 {
   font-size: 2rem;
   margin-top: 6%;
   margin-bottom: -10%;
 }

 .food4 {
   height: 5.5rem;
   width: 3.8rem;
   margin-right: -13%;
   margin-bottom: 20%;
 }

 .centerText4 {
   height: 9.3rem;
   margin-top: 13rem;
   margin-right: -4%;
   margin-left: 10%;
 }

 .stakeFur4 .stakeText3 {
   font-size: 0.5rem;
 }

 .stakeFur4 .input {
   width: 4.7rem;
   height:1rem;
   margin-bottom: -3%;
 }

 .stakeFur4 ::placeholder {
   font-size: 0.5rem;
 }

 .farmBtn1 {
   height: 1rem;
   width: 2.5rem;
   margin-left: 6%;
 }

 .farmBtn2 {
   height: 1rem;
   width: 6rem;
 }

 .farmBtn3 {
   height: 1rem;
   width: 7rem;
   margin-right: 9%;
 }

}

