@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


//variables
$white: #4166DE;
$blue: #F9F9B7;
$second_blue: #F9F9B7;
$grey: #363636;
$light: #4166DE;
$font: "poppins", sans-serif;
$secondFont: "poppins", sans-serif;



* {
  margin: 0;
  padding: 0;
}

.centerText {
  float: left;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.centerText2 {
  float: left;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.centerText3 {
  text-align: center;
  margin-right: 11%;
}

.centerText4 {
  text-align: center;
  margin-right: 5%;
  margin-bottom: 13.5rem;
  height: 6rem;
}

.stakeHeader {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 45, 192), rgb(167, 0, 139));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
-webkit-font-smoothing : none;
}

.food {
  width: 38%;
  height: 90%;
  float: left;
  margin-top: 3%;
  margin-left: -3%;
  margin-bottom: 10%;
 
}
.food2 {
  
  width: 42%;
  height: 75%;
  margin-top: 3%;
  margin-left: 2.5%;
  margin-bottom: 10%;
  
}

.food3 {
  width: 45%;
  height: 80%;
  margin-top: 5%;
  margin-right: 1%;
  margin-bottom: 8%; 
} 

.food4 {
  width: 35%;
  height: 77%;
  float: left;
  margin-top: 3%;
  margin-left: -3%;
  margin-bottom: 10%;
}


.stakeText {
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-right: 3%;
}


.stakeText2 {
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-left: -29%;
}

.stakeText3 {
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  
}

.stakeText4 {
  
  white-space: nowrap;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-right: 3%;
  margin-bottom: 17%;
 
 
}

.furProfit {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.cardWrapper {
  text-align: center;
  background-color: transparent;
  margin: 0 auto;
  padding: 2.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  height: 80rem;
}

.inputWrapper {
  float: right;
  }
.sectionWrapperTest {
  background-color: transparent;
  display: flex; 
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 70rem;
}

.profitEarned {
  border: 2px solid red;
  margin-top: -90%;
}

@media screen and (max-width: 708) {
  .sectionWrapperTest {
    align-content: center;
    align-items: center;
  }
}

.infopannel {
  width: 20%;
  padding: 1rem;
 
}
h2 {
  animation: color-change 5s infinite;
}

.staking {
 background-color: transparent;
 width: 20%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -10%;

}

.stakingCard {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.bottom {
  
 
}

.infopannel input {
  width: 60%;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  color: #4D3A40;
  padding: 6px 12px;
  font-family: 5rem;
  text-align: center;
  font-size: 0.9rem;
}
.infopannel input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: $font;
  color: #4D3A40;
  letter-spacing: 0.05rem;
  text-align: center;
  font-size: 0.9rem;
}

.infopannel button {
  width: 60%;
  border-radius: 1000px;
  margin-top: 12px;
  padding: 0.5rem;
  background: repeating-linear-gradient( 135deg,#0cc6b8, #0cc6b8 10px, #01a89e 10px, #01a89e 20px);
  outline: none;
  border: #01a89e 1px solid;
  font-family: $font;
  color: #363636;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  transition: 1s;

  &:disabled {
    color: #271212;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.stakeFur {
  background-color: transparent;
  animation: color-change 5s infinite;
  margin: 2%;
}
.withdrawSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.profitTitle {
  margin-bottom: 30px;
}

//effects
.infopannel button:hover {
  cursor: pointer;
}

.h1Title {
  margin: 3%;
  text-align: center;
  animation: color-change 5s infinite;
  font-size: 1.2rem;
  
  
}

.input {
  text-shadow: white;
  color: white;
  text-align: center;
  border: .1px solid rgb(255, 255, 255);
  background-color: transparent;
 
}

 
.h5Title {
  
  font-size: 1.5rem;
  animation: color-change 5s infinite;
 
}

.stakingWrapper {
  display: block;
  margin: 0 auto;
  width: 0%;
}


.farmBtn {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/BUTTON1.png);
  background-color: transparent;
  width: 5.1rem;
  height: 1.6rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
    outline: black;
}

.farmBtn1 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/UBUTTON3.png);
  background-color: transparent;
  width: 5rem;
  height: 1.7rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 230, 0);
  font-size: .75rem;
  opacity: 1; /* Firefox */
  font-family: 'Press Start 2P', cursive;
  outline: transparent;
  border: 0;
}

::placeholder[placeHolder^="WITHDRAW"] { 
  color: rgb(64, 225, 95);
}

.farmBtn2 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/UBUTTON2.png);
  background-color: transparent;
  width: 6rem;
  height: 1.7rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: black;
}

.farmBtn3 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/UBUTTON1.png);
  background-color: transparent;
  width: 6.8rem;
  height: 1.7rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: black;
}


.farmBtn4 {
  margin: 3%;
  color: #000000;
  cursor: pointer;
  background-image: url(../images/BUTTON2.png);
  background-color: transparent;
  width: 5.1rem;
  height: 1.6rem;
  box-shadow: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
    outline: black;
}

.farmBtn7 {
  
    margin: 3%;
    color: #000000;
    cursor: pointer;
    background-image: url(../images/BUTTON2.png);
    background-color: transparent;
    width: 5.3rem;
    height: 1.5rem;
    box-shadow: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: black;
}

.centerBtns {
  display: flex;
  justify-content: center;
  margin-top: -3.2rem;
  margin-left: -1rem;
  position: absolute;
}

@keyframes color-change {
  14% { color: rgb(37, 150, 150); }
  28% { color: rgb(224, 18, 196); }
  42% { color: rgb(190, 0, 0); }
  56% { color: rgb(0, 255, 0); }
  70% { color: rgb(0, 0, 255); }
  84% { color: indigo; }
  100% { color: rgba(161, 35, 161, 0.521); }
  14% { color: rgb(37, 150, 150); }
  28% { color: rgb(224, 18, 196); }
  42% { color: rgb(190, 0, 0); }
  56% { color: rgb(0, 255, 0); }
  70% { color: rgb(0, 0, 255); }
  84% { color: indigo; }
  100% { color: rgba(161, 35, 161, 0.521); }
  
}

.stakeFur1 { 
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N1.png);
  background-size: contain;
  padding: 1rem;
  height: 18rem;
  background-repeat:no-repeat;
  margin-bottom: -2%;
  
}


.stakeFur2 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N2.png);
  background-size: contain;
  height: 18rem;
  background-repeat:no-repeat;
  margin-bottom: 0%;
}

.stakeFur3 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N3.png);
  background-size: contain;
  height: 20rem;
  background-repeat:no-repeat;
  margin-bottom: 3%;
 
}

.stakeFur4 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row-reverse;
  background-image: url(../images/N4.png);
  background-size: contain;
  height: 20rem;
  background-repeat:no-repeat;

}

.stakeNumber {
  margin-left: 5%;
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
}

.stakeNumber2 {
  
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  margin-right: 20%;
}

.stakeNumber3 {
  
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 7%;
  margin-top: 15%;
  margin-bottom: 8%;
}


.stakeNumber4 {
  
  font-family: 'Press Start 2P', cursive;
  font-size: 7rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem;
  margin-right: 7%;
 
  
}

.farmBtn1 {
  
}
//responsive

@media screen and (max-width: 1000px) {
  .sectionWrapperTest {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 414px) {

  // GENERAL
  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 50rem;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 40.3rem;
  }

  .stakeHeader {
    font-size: 1.2rem;
    margin-bottom: 4%;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 18.3rem;
    height: 10rem;
    margin-bottom: 0.05%;
  }

  .stakeText {
    font-size: 0.8rem;
  }

  .stakeNumber {
    font-size: 3.5rem;
    margin-top: 9%;
  }

  .food {
    height: 8.5rem;
    margin-top: 7.5%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 18.3rem;
    height: 10rem;
  }

  .stakeText2 {
    font-size: 0.8rem;
  }

  .stakeNumber2 {
    font-size: 3.5rem;
    margin-top: 13%;
  }

  .food2 {
    height: 8.5rem;
    margin-top: 7.5%;
    margin-right: -8%;
    width: 7.2rem;
  }

  .centerText2 {
    margin-right: -6.5%;
    padding-left: 8%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 18.3rem;
    height: 10rem;
  }

  .stakeFur3 .stakeText3 {
    font-size: 0.9rem;
    margin-left: -16%;
  }

  .stakeNumber3 {
    font-size: 3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 9rem;
    margin-top: 10.5%;
    margin-right: -1%;
  }

  .centerText3 {
    height: 8rem;
    margin-right: -4.5%;
  }

  .stakeFur3 .input {
    width: 6rem;
    margin-right: 9%;
  }

  .stakeFur3 ::placeholder {
    font-size: 0.6rem;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .farmBtn {
    height: 1.3rem;
    width: 4rem;
  }

  .farmBtn7 {
    height: 1.3rem;
    width: 4rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 18.3rem;
    height: 10rem;
  }

  .furProfit {
    width: 12rem;
    font-size: 0.6rem;
  }

  .stakeText4 {
    font-size: 0.7rem;
  }

  .stakeNumber4 {
    font-size: 2.5rem;
    margin-bottom: -5%;
  }

  .food4 {
    height: 8.5rem;
    width: 6.2rem;
    margin-top: 9%;
    margin-right: -15%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 13rem;
    margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 0.5rem;
  }

  .stakeFur4 .input {
    width: 4.5rem;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .stakeFur4 ::placeholder {
    font-size: 0.5rem;
  }

  .farmBtn1 {
    height: 1.2rem;
    width: 4rem;
    margin-left: 9%;
  }

  .farmBtn2 {
    height: 1.2rem;
    width: 4.5rem;
  }

  .farmBtn3 {
    height: 1.2rem;
    width: 5.5rem;
    margin-right: 13%;
  }


}



@media screen and (max-width: 375px) {

  // GENERAL

  .cardWrapper {
      width: 90%;
      margin-top: 5%;
      height: 50rem;
  }

  .stakeHeader {
    font-size: 1.3rem;
    margin-bottom: 4%;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 37.8rem;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 16rem;
    height: 10rem;
  }

  .stakeText {
    font-size: 0.7rem;
  }

  .stakeNumber {
    font-size: 3.5rem;
    margin-top: 9%;
  }

  .food {
    height: 7.5rem;
    margin-bottom: 17%;
  }

  .centerText {
    padding-bottom: 10%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 16rem;
    height: 10rem;
  }

  .stakeText2 {
    font-size: 0.65rem;
    margin-right: 5%;
  }

  .stakeNumber2 {
    font-size: 3.5rem;
    margin-top: 13%;
  }

  .food2 {
    height: 7.5rem;
    padding-bottom: 5%;
  }

  .centerText2 {
    padding-bottom: 15%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 16rem;
    height: 10rem;
  }

  .stakeFur3 .stakeText3 {
    font-size: 0.8rem;
    margin-right: 10%;
  }

  .stakeNumber3 {
    font-size: 3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 7.5rem;
    width: 7rem;
    margin-top: 7%;
  }

  .centerText3 {
    height: 9.3rem;
    margin-right: -4.5%;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .stakeFur3 .input {
    width: 6rem;
    margin-right: 9%;
  }

  .farmBtn {
    height: 1.3rem;
    width: 4rem;
  }

  .farmBtn7 {
    height: 1.3rem;
    width: 4rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 16rem;
    height: 9rem;
  }

  .furProfit {
    width: 10rem;
    font-size: 0.5rem;
  }

  .stakeText4 {
    font-size: 0.7rem;
  }

  .stakeNumber4 {
    font-size: 2.5rem;
    margin-top: 6%;
    margin-bottom: -9%;
  }

  .food4 {
    height: 7.5rem;
    margin-top: 8%;
    margin-right: -13%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 13rem;
    margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 0.5rem;
  }

  .stakeFur4 .input {
    width: 5rem;
    margin-bottom: 13%;
  }

  .stakeFur4 ::placeholder {
    font-size: 0.5rem;
  }

  .farmBtn1 {
    height: 1.2rem;
    width: 2rem;
    margin-left: 6%;
  }

  .farmBtn2 {
    height: 1.2rem;
    width: 4rem;
  }

  .farmBtn3 {
    height: 1.2rem;
    width: 5rem;
    margin-right: 9%;
  }

}


@media screen and (max-width: 360px) {
  
   // GENERAL

  .cardWrapper {
    width: 90%;
    margin-top: 5%;
    height: 43.5rem;
  }

  .stakeHeader {
    font-size: 1rem;
    margin-bottom: 4%;
  }

  .sectionWrapperTest {
    width: 100%;
    height: 34.5rem;
  }

  // CARD ONE

  .stakeFur1 {
    display: flex;
    background-size: 15.3rem;
    height: 10rem;
    margin-bottom: -11%;
  }

  .stakeText {
    font-size: 0.6rem;
  }

  .stakeNumber {
    font-size: 3.2rem;
    margin-top: 9%;
  }

  .food {
    height: 7.5rem;
    width: 6rem;
    margin-bottom: 21%;
  }

  .centerText {
    padding-bottom: 10%;
  }

  // CARD TWO

  .stakeFur2 {
    display: flex;
    background-size: 15.3rem;
    height: 10rem;
    margin-bottom: -11%;
  }

  .stakeText2 {
    font-size: 0.6rem;
  }

  .stakeNumber2 {
    font-size: 3.2rem;
    margin-top: 13%;
  }

  .food2 {
    height: 7.8rem;
    margin-bottom: 15%;
    margin-right: -10%;
  }

  .centerText2 {
    padding-bottom: 15%;
  }

  // CARD THREE

  .stakeFur3 {
    display: flex;
    background-size: 15.3rem;
    height: 10rem;
    margin-bottom: -4%;
  }

  .stakeFur3 .stakeText3 {
    font-size: 0.6rem;
    margin-right: -5%;
  }

  .stakeNumber3 {
    font-size: 3.2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .food3 {
    height: 7.5rem;
    margin-top: 7%;
  }

  .centerText3 {
    height: 9.3rem;
    margin-right: -4.5%;
  }

  .stakeFur3 .stakingCard {
    margin-top: 1%;
    margin-left: -2%;
  }

  .stakeFur3 .input {
    width: 6rem;
    margin-right: 9%;
  }

  .farmBtn {
    height: 1.3rem;
    width: 4rem;
  }

  .farmBtn7 {
    height: 1.3rem;
    width: 4rem;
  }

  // CARD FOUR

  .stakeFur4 {
    display: flex;
    background-size: 15.3rem;
    height: 9rem;
  }

  .furProfit {
    width: 10rem;
    font-size: 0.5rem;
  }

  .stakeText4 {
    font-size: 0.7rem;
  }

  .stakeNumber4 {
    font-size: 2.2rem;
    margin-top: 6%;
    margin-bottom: -10%;
  }

  .food4 {
    height: 7.5rem;
    width: 5.1rem;
    margin-top: 8%;
    margin-right: -13%;
  }

  .centerText4 {
    height: 9.3rem;
    margin-top: 13rem;
    margin-right: 3%;
    margin-left: 10%;
  }

  .stakeFur4 .stakeText3 {
    font-size: 0.5rem;
  }

  .stakeFur4 .input {
    width: 5rem;
    margin-bottom: 13%;
  }

  .stakeFur4 ::placeholder {
    font-size: 0.5rem;
  }

  .farmBtn1 {
    height: 1.2rem;
    width: 2rem;
    margin-left: 6%;
  }

  .farmBtn2 {
    height: 1.2rem;
    width: 4rem;
  }

  .farmBtn3 {
    height: 1.2rem;
    width: 5rem;
    margin-right: 9%;
  }

}

