@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
}



//responsive

@media screen and (max-width: 700px) {
  .blueSectionContentWrapper {
    width: 70%;
    padding: 35px;
  }
}

@media screen and (max-width: 500px) {
  .blueSectionContentWrapper {
    width: 50%;
    padding: 35px;
  }
}
