@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

//variables
$white: #fff;
$blue: #1D6AD0;
$second_blue: #284cff;
$grey: #1D6AD0;
$font: "Poppins", sans-serif;
$secondFont: "Noto Sans", sans-serif;

.pannelParrent {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.pannel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  padding: 2rem;
  width: 27%;
  margin-top: 30px;
  margin-bottom: 35px;
}

.pannel h2 {
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 20px;
  padding: 1rem;
  color: #788cec;
}

.pannel h3 {
  margin-bottom: 2rem;
  color: #788cec;
  font-size: 2rem;
  font-family: $font;
}

.pannel p {
  color: $blue;
  font-family: $font;
  text-align: center;
  max-width: 320px;
}

//hover effects

.pannel:hover {
  -webkit-box-shadow: -1px 13px 31px -12px rgba(54, 54, 54, 1);
  -moz-box-shadow: -1px 13px 31px -12px rgba(54, 54, 54, 1);
  box-shadow: -1px 13px 31px -12px rgba(54, 54, 54, 1);
}

//responsive

@media screen and (max-width: 1300px) {
  .pannel {
    width: 23%;
  }
}

@media screen and (max-width: 840px) {
  .pannelParrent {
    flex-direction: column;
    align-items: center;
  }
  .pannel {
    width: 60%;
  }
}
