.smallpannel {
  display: flex;
  flex-direction: column;
  width: 250px;
  h3 {
    padding: 1rem;
    border-radius: 80px;
    text-align: center;
    padding-top: 2rem;
    width: 200px;
  }
  .upper {
    height: 200px;
    width: 270px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .bottom {
    height: 140px;
    margin: 0px;
    width: 270px;
  }
}

.bottom-bottom {
  margin-top: 0px;
  height: 30px;
  width: 270px;
}

.bigparent-wrapper {
  width: 80%;
  margin: 0 auto;
}

.smallpannels-wrapper {
  display: flex;

  justify-content: space-evenly;
  padding-bottom: 30px;
}

@media screen and (max-width: 1440px) {
  .smallpannels-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .smallpannel {
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

// @media
